* {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-one-fourth {
  flex-basis: calc(100%/4);
}

.column-two-third {
  flex-basis: calc(100%/3*2);
}

.image {
  width: 100%;
}
