* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.image {
  width: auto;
  height: 40vh;
}

.item {
  flex-basis: 18%;
}

.size,
del {
  color: lightgrey;
}

.price {
  background-color: rgb(244 200 159);
}
