* {
  box-sizing: border-box;
  text-align: center;
}

.hidden {
  display: none;
}

.left-arrow {
  font-size: 2em;
  padding-right: 10rem;
}

.right-arrow {
  font-size: 2em;
  padding-left: 10rem;
}
